*{
	font-family:"family Merriweather"
}

.oscuro{
	background-color:#fff;
}
.navbar {
    position: relative;
    min-height: 74px;
    margin-bottom: -2px;
    border: 1px solid transparent;
}
.form-control {
    display: block;
    width: 100%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin: -9%;
    margin-top: 22px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.menu{
	margin-left: 74px;
}

.fondo{
	background-image:url(../img/flor.jpg);
	background-repeat: no-repeat;
	background-position:center;
	opacity:0.8;
	padding:20%;
	padding-bottom: 10%
}
.foto{
	padding:-10%;

}
.body p {
    margin: 45% 0 10px;
}
.parrafo p {
    margin: 25% 0 10px;
}
.flor{
	background-image: url(../img/ne5be5e6dwe-annie-spratt.jpg);
	background-repeat: no-repeat;
	background-position: center;
	margin-top:8%;
	padding: 20%;
	width: 30%;

}
.flor2{
	background-image: url(../img/nqsunxinsp4-alex-harvey.jpg);
	background-repeat: no-repeat;
	background-position: center;
	margin-top:10px;
	padding: 20%;
	width: 30%;

}
/*galeria*/
.galeria h1{
	
	font-family: "family Merriweather";
}
.raton{
	margin-left: 70%;
}
.nuevofo{
	background-image: url(../img/nuevflo.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: 20%;
	height: 50px;
	padding:16%;
}
.nuevolo{
	background-image: url(../img/nuevoloto.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: 20%;
	height: 50px;
	padding:16%;
}

.tw{
  margin-top: 5%;
}


/*footer*/

.elementos{
	margin-top: 10%;
}
.icon{
	font-size: 67px;
}
.iconn{
	margin-left: 57px;
}
/*efecto galeria
.slide{
  width:100%;
  height:100%;
}

.wrapper {
  display: table;
  width:100%;
  height:100%;
}

.content {
  display: table-cell;
  width:100%;
  height:100%;
  text-align: center;
  vertical-align: middle;
}*/